<%- contentFor('body') %>
<div class="jumbotron text-center">
    <h1>O Time!</h1>
    <div class="row">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
        <% for (usuario of usuarios){%>
            <div class="col-sm-4">
                <h2><%= usuario.name %></h2>
                <img class="img-responsive" style="height: 250px" src="<%= usuario.avatar %>">
            </div>
            <% } %>
    </div>
</div>
    