<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body class="container">

<header>
    <%- include('partials/header') %>
</header>

<main>
<div class="container">
    <%- body %>
</div>
</main>

<footer>
    <%- include('partials/footer') %>
</footer>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>
</html> 